[submodule "dev/jade/bemto"]
	path = dev/jade/bemto
	url = git@github.com:kizu/bemto.git
[submodule "dev/js/macro/stem-js-macro"]
	path = dev/js/macro/stem-js-macro
	url = git@github.com:preusx/stem-js-macro.git
[submodule "dev/stylus"]
	path = dev/stylus
	url = git@github.com:preusx/stem-css.git
